<h1>Order your Pizza Today</h1>
<h2>Delecious Flavours and Fast Delivery</h2>

<table>
  <tr>
    <td>
      <a class="logo" href="/">
        <img src="public/pizza1.jpg" alt="Logo" />
      </a>
    </td>
    <td>
      <a class="logo" href="/">
        <img src="public/pizza2.jpg" alt="Logo" />
      </a>
    </td>
    <td>
      <a class="logo" href="/">
        <img src="public/pizza3.jpg" alt="Logo" />
      </a>
    </td>
    <td>
      <a class="logo" href="/">
        <img src="public/pizza1.jpg" alt="Logo" />
      </a>
    </td>
  </tr>
</table>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
