<div id='title'>
    <h1>We've Received Your Order!</h1>
</div>

<table>
  <tr>
    <td>
      <a class="logo" href="/">
        <img src="public/pizza1.jpg" alt="Logo" />
      </a>
    </td>
    <td>
      <a class="logo" href="/">
        <img src="public/pizza2.jpg" alt="Logo" />
      </a>
    </td>
    <td>
      <a class="logo" href="/">
        <img src="public/pizza3.jpg" alt="Logo" />
      </a>
    </td>
    <td>
      <a class="logo" href="/">
        <img src="public/pizza1.jpg" alt="Logo" />
      </a>
    </td>
  </tr>
</table>

<div class="ctaWrapper">
  <a class="cta blue" href="api/menu">Back To Menu</a>
</div>